/*
 * @Author: TimLie
 * @github: https://github.com/TimYao
 * @Date: 2018-05-08 11:46:21
 * @Last Modified by: TimLie
 * @Last Modified time: 2018-05-08 18:11:21
 *
 * @description: define clearfix
 */
