/*
 * @Author: TimLie
 * @github: https://github.com/TimYao
 * @Date: 2018-05-08 11:46:21
 * @Last Modified by: mikey.zhaopeng
 * @Last Modified time: 2018-05-16 18:22:59
 *
 * @description: toasts
 */

 .toasts
   display: inline-block
   max-width: 200px
   padding: $padding-base-vertical $padding-base-vertical
   position: relative
   font-size: $font-size-small
   toasts-variant($white-base, $aid-dark9-gray)
   border-radius(4px)
   span,
   a,
   .toasts-icon
    display: inline-block
    ../
      .toasts-icon, a, span
        vertical-align: middle









































