/*
 * @Author: TimLie
 * @github: https://github.com/TimYao
 * @Date: 2018-05-08 11:46:21
 * @Last Modified by: mikey.zhaopeng
 * @Last Modified time: 2018-05-15 16:11:08
 *
 * @description: import all mixins
 *
 *   touch-action box-sizing
 */

// Utilities
@import "mixins/_opacity"
@import "mixins/_image"
@import "mixins/_labels"
@import "mixins/_variant-set"
@import "mixins/_reset-filter"
@import "mixins/_resize"
@import "mixins/_responsive-visibility"
@import "mixins/_size"
@import "mixins/_tab-focus"
@import "mixins/_reset-text"
@import "mixins/_text-emphasis"
@import "mixins/_text-overflow"
@import "mixins/_vendor-prefixes"

// Components
@import "mixins/_buttons"
@import "mixins/_alerts"
@import "mixins/_forms"
@import "mixins/_pages"
@import "mixins/_scroll"
@import "mixins/_bubble"
@import "mixins/_toasts"

// Skins

// Layout
@import "mixins/_clearfix"


text-align($param)
  text-align: $param





