/*
 * @Author: TimLie
 * @github: https://github.com/TimYao
 * @Date: 2018-05-08 11:46:21
 * @Last Modified by: mikey.zhaopeng
 * @Last Modified time: 2018-05-15 17:35:36
 *
 * @description: scroll 适配问题
 */
 .scroll
   size(100%, 100%)
   position: relative
   padding: 2%
   .scroll-content
     size(97%, auto)
     text-align(justify)
   .scroll-group
     size(1%, 100%)
     position: absolute
     top: 0
     right: 1%
     z-index: 50
     .scroll-line,
     .scroll-bar
       position: absolute
     .scroll-line
       size(100%, 100%)
       top: 0
       left: 0
       z-index: 35
     .scroll-bar
       size(100%, 40%)
       top: 2%
       left: 0
       z-index: 40
       scroll-variant($aid-light8-gray)
       cursor: pointer
      .scroll-bar__circle
        border-radius(4px)
































