/*
 * @Author: TimLie
 * @github: https://github.com/TimYao
 * @Date: 2018-05-08 11:46:21
 * @Last Modified by: TimLie
 * @Last Modified time: 2018-05-08 18:27:02
 *
 * @description: Responsive utilities
 *
 */

responsive-visibility()
  display: block !important
  table &
    display: table !important
  tr &
     display: table-row !important
  th &,
  td &
    display: table-cell !important

responsive-invisibility()
  display: none !important





