/*
 * @Author: TimLie
 * @github: https://github.com/TimYao
 * @Date: 2018-05-08 11:46:21
 * @Last Modified by: mikey.zhaopeng
 * @Last Modified time: 2018-05-15 16:28:28
 *
 * @description: size/square
 *
 */

size($width, $height)
  width: $width
  height: $height

square($size)
  size($size, $size)





