/*
 * @Author: TimLie
 * @github: https://github.com/TimYao
 * @Date: 2018-05-08 11:46:21
 * @Last Modified by: mikey.zhaopeng
 * @Last Modified time: 2018-05-15 17:35:36
 *
 * @description: toasts
 */

//skin
toasts-variant($toasts-color, $toasts-bg, $alpha = 0.7)
  $toasts-bg = rgba($toasts-bg, $alpha)
  &,
  a&
  & a
   color: $toasts-color
  ~/ a,
  a&
    text-decoration: none
  background-color: $toasts-bg






































