/*
 * @Author: TimLie
 * @github: https://github.com/TimYao
 * @Date: 2018-05-23 11:46:21
 * @Last Modified by: mikey.zhaopeng
 * @Last Modified time: 2018-05-23 18:31:21
 *
 * @description: import all mixins
 *
 *   touch-action box-sizing
 */

// Utilities
@import "./_opacity"
@import "./_image"
@import "./_labels"
@import "./_variant-set"
@import "./_reset-filter"
@import "./_resize"
@import "./_responsive-visibility"
@import "./_size"
@import "./_tab-focus"
@import "./_reset-text"
@import "./_text-emphasis"
@import "./_text-overflow"
@import "./_vendor-prefixes"

// Components
@import "./_buttons"
@import "./_alerts"
@import "./_forms"
@import "./_pages"
@import "./_scroll"
@import "./_bubble"
@import "./_toasts"

// Skins

// Layout
@import "./_clearfix"


text-align($param)
  text-align: $param





