/*
 * @Author: TimLie
 * @github: https://github.com/TimYao
 * @Date: 2018-05-08 11:46:21
 * @Last Modified by: TimLie
 * @Last Modified time: 2018-05-08 18:14:05
 *
 * @description: define clearfix funs
 */

clearfix()
  &:before,
  &:after
    content: " "
    display: table
  &:after
    clear: both

