/*
 * @Author: TimLie
 * @github: https://github.com/TimYao
 * @Date: 2018-05-08 11:46:21
 * @Last Modified by: TimLie
 * @Last Modified time: 2018-05-08 18:27:02
 *
 * @description: reset
 *
 */

reset-text()
  font-family: $font-family-base
  font-style: normal
  font-weight: normal
  letter-spacing: normal      // 字间距
  line-break: auto            //
  line-height: $line-height-base
  text-align: left
  text-align: start           //
  text-decoration: none
  text-shadow: none
  text-transform: none        // 字符大小写
  white-space: normal
  word-break: normal
  word-spacing: normal
  word-wrap: normal





