/*
 * @Author: TimLie
 * @github: https://github.com/TimYao
 * @Date: 2018-05-08 11:46:21
 * @Last Modified by: mikey.zhaopeng
 * @Last Modified time: 2018-05-15 16:30:32
 *
 * @description: scroll funs
 */

//skin
scroll-variant($scroll-bg = $white-base)
  background-color: $scroll-bg






















