/*
 * @Author: TimLie
 * @github: https://github.com/TimYao
 * @Date: 2018-05-08 11:46:21
 * @Last Modified by: mikey.zhaopeng
 * @Last Modified time: 2018-05-10 11:24:02
 *
 * @description: tab
 *
 */

variant-set($color, $bg)
  &:hover
    color: $color
    background-color: darken($bg,10%)
  &:active
    color: $color
    background-color: darken($bg,20%)




